.container {
  padding: 20px;
}

.row {
  display: flex;
  ;
  justify-content: center;
  vertical-align: middle;
}

.button-group {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  text-align: center;
  width: 150px;
  background-color: #ed1e79;
  border-color: #ed1e79;
  border-radius: 10px;
  margin: 5px;
}

.row {
  justify-content: center;
}

.info {
  margin-top: 40px;
  margin-left: 20px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn:hover,
.btn:active {
  background-color: #bd1f64;
  border-color: #bd1f64;
}

.container {
  margin-top: 30px;
}

.title {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
}

h5 {
  font-size: 20px;
  line-height: 30px;
}

.fa {
  color: #ed1e79;
}