.btn {
  text-align: center;
  background-color: #ed1e79;
  border-color: #ed1e79;
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.btn:hover,
.btn:active {
  background-color: #bd1f64;
  border-color: #bd1f64;
}
