<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Voeg journaal toe</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="journaalForm">
      <div class="mb-3">
        <label class="form-label">Patient:</label>
        <select class="form-select" formControlName="selectedPatientId">
          <option *ngFor="let patient of patients" [ngValue]="patient.id"> {{patient.naam}} </option>
        </select>
      </div>
      <div class="container-fluid">
        <div class="row">
          <button class="btn btn-primary mb-2" (click)="addRegel()">Voeg regel toe</button>
        </div>

        <div formArrayName="regels">
          <div *ngFor="let regel of regels.controls; let i = index">
            <div [formGroupName]="i">
              <div class="card">
                <div class="card-body m-2">
                  <div class="row mb-1">
                    <input formControlName="beschrijving" id="{{i}}" type="text" class="form-control" placeholder="Beschrijving van episode"/>
                  </div>
                  <div class="row mb-1">
                    <input formControlName='datum' id="{{i}}" type="date" class="form-control" placeholder="Datum"/>
                  </div>

                  <div class="row mb-1">
                    <input formControlName='code' id="{{i}}" type="number" class="form-control" placeholder="Code"/>
                  </div>

                  <div class="row mb-1">
                    <button class="btn btn-primary" type="submit" (click)="removeRegel(i) ">Remove</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" [disabled]="!journaalForm.valid" (click)="submitForm()">Voeg
      episode toe
    </button>
  </div>
</ng-template>
<button class="btn btn-primary" (click)="open(content)"> Voeg episode toe</button>
