<div class="container">
    <div class="title">
        <h1>Lijst van patiënten</h1>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Naam</th>
            <th scope="col">Geb.Datum</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients">
            <td>{{ patient.naam }}</td>
            <td>{{ patient.geboorteDatum }}</td>
            <td><button class="btn btn-primary" [title]="patient.id + ' details'" [routerLink]="['/Patient', patient.id]">
              info
            </button></td>
          </tr>
        </tbody>
      </table>
</div>
