.container{
    border: 1px solid black ;
    margin-top: 30px;
}
.title{
    width: 100%;
    text-align:center;
    margin-top: 25px;
    margin-bottom: 50px;
}
.btn{
    text-align: center;
    background-color: #ed1e79;
    border-color: #ed1e79;
}

.btn:hover, .btn:active{
    background-color: #bd1f64;
    border-color: #bd1f64;
}