<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form [formGroup]="loginForm" >
        <h5>Login</h5>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="username" for="username" id="form2Example1" class="form-control" formControlName="username"/>
          <label class="form-label" for="username">Username</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" for="password" id="form2Example2" class="form-control" formControlName="password" />
          <label class="form-label" for="password">Password</label>
        </div>

        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4" (click)="LogIn()">
          Sign in
        </button>
      </form>
    </div>
  </div>
</div>
