.container{
    border: 1px solid black ;
    margin-top: 30px;
}
.date{
    width: 100%;
    text-align: center;
    color: rgb(77, 77, 77);
}
.title{
    width: 100%;
    text-align:center;
    margin-top: 25px;
    margin-bottom: 50px;
}
.btn{
  text-align: center;
  background-color: #ed1e79;
  border-color: #ed1e79;
  margin: 0px;
}

.btn:hover, .btn:active{
  background-color: #bd1f64;
  border-color: #bd1f64;
}
a{
  color: #ed1e79;
  text-decoration-color: #ed1e79;
}
tr {
  vertical-align: middle;
  line-height: 30px;
}
