<div class="container">
  <div class="container-body">
    <div class="title">
      <h1>Overzicht van {{ _loggedInAs }}</h1>
      <div *ngIf="isFiltered; else selectADate">
        <h5 class="date">van {{ todayDate | date : "dd/MM/yyyy" }}</h5>
      </div>
      <ng-template #selectADate>
        <h5 class="date">Alle afspraken</h5>
      </ng-template>
    </div>
    <div class="datepicker">
      <div class="input-group">
        <input type="date" [(ngModel)]="todayDate" />
        <select
          id="selectUser"
          class="dropdown-users selected"
          [(ngModel)]="userFromDropdown"
        >
          <option [value]="user.id" *ngFor="let user of users">{{ user.username }}</option>
        </select>
        <button (click)="FetchDateSelected()" class="btn btn-primary btn-block">
          Kies datum
        </button>
      </div>

    </div>
    <div *ngIf="isLoaded ; else isNotLoaded">
      <div *ngIf="isFiltered; else showAllAppointments">
        <div
          *ngIf="appointmentsFiltered.length > 0; else noAppointmentsArePlanned"
        >
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Begint om</th>
                <th scope="col">Naam</th>
                <th scope="col">Adres</th>
                <th scope="col"></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let appointment of appointmentsByUserFiltered">
                <td>
                  <i class="fa fa-clock-o"></i>
                  {{ appointment.datum | date : "HH:mm" }}
                </td>
                <td>{{ appointment.patientModel.naam }}</td>
                <td>{{ appointment.patientModel.adres }}</td>
                <td>
                  <button
                    class="btn btn-primary btn-block"
                    [routerLink]="[
                      '/visitebriefje/',
                      appointment.patientModel.id
                    ]"
                  >
                    Visite
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <ng-template #noAppointmentsArePlanned>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Begint om</th>
              <th scope="col">Naam</th>
              <th scope="col">Adres</th>
              <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
            0 Afspraken ingepland.
          </tbody>
        </table>
      </ng-template>

      <ng-template #showAllAppointments>
        <div
          *ngIf="appointmentsFiltered.length > 0; else noAppointmentsArePlanned"
        >
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Datum en tijd</th>
                <th scope="col">Naam</th>
                <th scope="col">Adres</th>
                <th scope="col"></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let appointment of appointmentsFiltered">
                <td>
                  <i class="fa fa-clock-o"></i>
                  {{ appointment.datum | date : "dd/MM/yy HH:mm" }}
                </td>
                <td>{{ appointment.patientModel.naam }}</td>
                <td>{{ appointment.patientModel.adres }}</td>
                <td>
                  <button
                    class="btn btn-primary btn-block"
                    [routerLink]="[
                      '/visitebriefje/',
                      appointment.patientModel.id
                    ]"
                  >
                    Visite
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </div>
    <ng-template #isNotLoaded>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Begint om</th>
            <th scope="col">Naam</th>
            <th scope="col">Adres</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          Geen data ingeladen.
        </tbody>
      </table>
    </ng-template>
  </div>
</div>
