<div class="container">
  <div class="container-body">
    <div class="title">
      <h1>Overzicht van
        <select class="dropdown-users selected">
        <option *ngFor="let user of users" >{{ user.username }}</option>
      </select>
    </h1>
      <h5 class="date">van {{ DateSelected | date:'dd/MM/yyyy'}} </h5>
    </div>
    <div *ngIf="DateSelected">
      hoi
    </div>
    <div>
      Date Picker: <input type="date" [(ngModel)] = "DateSelected">
    <button (click) = "FetchDateSelected()">
      Fetch date
    </button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Begint om</th>
          <th scope="col">Naam</th>
          <th scope="col">Adres</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments">
            <td><i class="fa fa-clock-o"></i> {{ appointment.datum | date:'HH:mm' }} </td>
            <td> {{ appointment.patientModel.naam }} </td>
            <td> {{ appointment.patientModel.adres }}  </td>
            <td><button class="btn btn-primary btn-block" [routerLink]="['/visitebriefje/' , appointment.patientModel.id ]">
                  Visite
            </button>
            </td>
        </tr>
    </tbody>

    </table>
  </div>
</div>

