<div class="container">
  <div class="container-body">

    <div class="title">
      <h1>Overzicht</h1>
    <h5 class="date">van {{ currentDateTime }}</h5>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Naam</th>
        <th scope="col">Adres</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Test Gebruiker</td>
        <td>Marijkestraat 23, Putten</td>
        <td><button class="btn btn-primary btn-block" [routerLink]="['/visitebriefje/patientId']">
          Visitebriefje
        </button></td>
      </tr>
      <tr>
        <td>Test Gebruiker2</td>
        <td>Bloemstraat 23, Putten</td>
        <td><button class="btn btn-primary btn-block" [routerLink]="['/visitebriefje/patientId']">
          Visitebriefje
        </button></td>
      </tr>
      <tr>
        <td>Test Gebruiker3</td>
        <td>Singel 3, Houten</td>
        <td><button class="btn btn-primary btn-block" [routerLink]="['/visitebriefje/patientId']">
          Visitebriefje
        </button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
