<div class="container">
    <div class="title">
      <div *ngIf="selectedPatient">
        <h1>Visite</h1>
        <h5>Naam: {{ selectedPatient.naam }}</h5>
        <h5>Adres: {{ selectedPatient.adres }}</h5>
        <h5>Geb.datum: {{ selectedPatient.geboorteDatum }}</h5>
        <h5>BSN: {{ selectedPatient.bsn }}</h5>
        <h5>Tel.nr: {{ selectedPatient.telefoonNummer }}</h5>
        <hr>
        <h5>{{ currentDateTime }}</h5>
      </div>
    </div>
    <div class="briefjebody">
        <h2>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
            1. Klachten
        </h2>
    </div>
    <hr>
    <div class="briefjebody">
        <h2>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
            2.
        </h2>
    </div>
    <hr>
    <div class="briefjebody">
        <h2>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
            3.
        </h2>
    </div>
    <hr>
    <div class="briefjebody">
        <h2>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
            4.
        </h2>
    </div>
    <hr>
    <div class="briefjebody">
        <h2>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
            5.
        </h2>
    </div>
    <hr>
    <div class="briefjebody">
        <h2>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
            6.
        </h2>
    </div>
    <hr>
  </div>
