.container {
    margin-top: 30px;
    height: 100%;
    margin-top: 50px;
    display: inline;
}

.container-body {
    height: 100%;
    flex-direction: column;
    margin-bottom: 80px;
}

.title {
    width: 100%;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 20px;
}

.card-header {
    width: 100%;
    background-color: #efefef;
    font-size: 20px;
    padding: 8px;
    vertical-align: middle;
    margin: 0px;
}

.card-title {
    font-size: 19px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 28px;
}

h5 {
    font-size: 16px;
}

.btn {
  text-align: center;
  background-color: #ed1e79;
  border-color: #ed1e79;
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.btn:hover,
.btn:active {
  background-color: #bd1f64;
  border-color: #bd1f64;
}

h1 {
  font-size: 30px;
}

a {
  color: #ed1e79;
  text-decoration-color: #ed1e79;
}
.accordion-item{
  width: 100%;
}
.col{
width: 100%;
}
