<div class="container">
    <div class="title">
        <h1>Visite</h1>
        <h5>Naam: @Patient</h5>
        <h5>Adres: @Adres</h5>
        <h5>Geb.datum: @Geb.datum</h5>
        <h5>BSN: @BSN</h5>
        <h5>Tel.nr: @Tel.nr</h5>
        <hr>
        <h5>19-12-2022</h5>
    </div>
    <div class="briefjebody">
        <h2>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
            1. Klachten
        </h2>
    </div>
    <hr>
    <div class="briefjebody">
        <h2>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
            2.
        </h2>
    </div>
    <hr>
    <div class="briefjebody">
        <h2>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
            3.
        </h2>
    </div>
    <hr>
    <div class="briefjebody">
        <h2>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
            4.
        </h2>
    </div>
    <hr>
    <div class="briefjebody">
        <h2>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
            5.
        </h2>
    </div>
    <hr>
    <div class="briefjebody">
        <h2>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
            6.
        </h2>
    </div>
    <hr>
  </div>
  