<div *ngIf="navbarService.visible" class="navbar">
  <div class="container-fluid">
    <div class="mx-auto">
        <div class="navbar" *ngIf="ifToken; else showLogout">
            <a [routerLink]="['/login']">
              <h1>
                <i class="fa fa-fw fa-user"> </i>
                Login
              </h1>
            </a>
        </div>
        <ng-template #showLogout>
          <div class="navbar">
            <a [routerLink]="['/']">
              <h1>Overzicht</h1>
            </a>

            <a [routerLink]="['/patientslist']">
              <h1>Patiëntenlijst</h1>
            </a>

            <a (click)="logout()">
              <h1>
                <i class="fa fa-fw fa-user"> </i>
                Logout
              </h1>
            </a>
          </div>
        </ng-template>
      </div>
    </div>
</div>
