html{
}

body{
}

/* Navbar */
app-navbar{
    width: 100%;
    height: 60px;
    background-color: #3d6c99;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

app-navbar h1 {
    font-size: 24px;
    margin-left: 60px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer
}

app-navbar h1:hover {
    opacity: 0.8;
    text-decoration: none;
}







/* Footer */
app-footer{
    width: 100%;
    height: 40px;
    background-color: #3d6c99;
    display: flex;
    position: fixed;
    bottom: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

app-footer h1 {
    font-size: 16px;
    text-decoration: none;
}

app-footer a {
    color: black;
    text-decoration: none;
}