<div class="container">
    <div class="title">
        <h1>Lijst van patiënten</h1>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">BSN</th>
            <th scope="col">Naam</th>
            <th scope="col">Geb.Datum</th>
            <th scope="col">Adres</th>
            <th scope="col">Telefoon</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">346926075</th>
            <td>Test Gebruiker</td>
            <td>01-04-2000</td>
            <td>Marijkestraat 23, Putten</td>
            <td>0645533762</td>
          </tr>
          <tr>
            <th scope="row">346926075</th>
            <td>Test Gebruiker2</td>
            <td>01-05-2000</td>
            <td>Bloemstraat 23, Putten</td>
            <td>0645533762</td>
          </tr>
          <tr>
            <th scope="row">346926075</th>
            <td>Test Gebruiker3</td>
            <td>01-06-2000</td>
            <td>Singel 3, Houten</td>
            <td>0645533762</td>
          </tr>
        </tbody>
      </table>
</div>