<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form>
                <h5>Episode:</h5>
                <div class="form-outline mb-4">
                    <label class="form-label" for="patientId">Patient ID</label>
                    <input type="text" for="patientId" class="form-control" formControlName="patientId">
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="datum">Datum</label>
                    <input type="text" for="datum" class="form-control" formControlName="datum">
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="beschrijving">Beschrijving</label>
                    <input type="text" for="beschrijving" class="form-control" formControlName="beschrijving">
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="ipccode">Ipc code</label>
                    <input type="text" for="ipccode" class="form-control" formControlName="ipccode">
                </div>
            </form>
            <button type="button" class="btn btn-primary btn-block mb-4">Register Episode</button>
        </div>
    </div>
</div>