<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form>
        <h5>Register</h5>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="form2Example1" class="form-control" />
          <label class="form-label" for="form2Example1">Email address</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="form2Example2" class="form-control" />
          <label class="form-label" for="form2Example2">Password</label>
        </div>

        <!-- Submit button -->
        <button class="btn btn-primary btn-block mb-4" [routerLink]="['/login']">
          Register
        </button>
      </form>
    </div>
  </div>
</div>
